<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/styles.css" />
    <!-- <script src="{{ url_for('static', filename='dexie.min.js') }}"></script> -->

</head>
</head>


<body>
    <div class="popup-label">File upload Task manager</div> <br />
    <!-- Add New Task button -->
    <button type="button" id="addNewTaskButton">Add New Task</button><br />
    <input type="text" id="taskNameSearch" placeholder="Search by Task Name"><br />

    <table id="data-table">
        <thead>
            <tr>
                <th>Task ID</th>
                <th>Task Name</th>
                <th>Type</th>
                <th>Active</th>
                <th>Last Run</th>
                <th>Next Run</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be populated here -->
        </tbody>
        <!-- Pagination buttons in table footer -->
        <tfoot>
            <tr>
                <td colspan="6" id="pagination-buttons">
                    <button id="prevPage">&#9668;</button> <!-- Left arrow -->
                    <button id="nextPage">&#9658;</button> <!-- Right arrow -->
                </td>
            </tr>
        </tfoot>

        <!-- Edit window -->
        <div id="editModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" id="closeModal">&times;</span>
                    <h4 id="modalTitle">Edit Task</h4>
                </div>
                <div class="form-scroll">
                    <form id="editForm">
                        <label for="editTaskId">Task ID:</label><br>
                        <input type="text" id="newTaskId" name="newTaskId"> <br />

                        <label for="editTaskName">Task Name:</label><br />
                        <input type="text" id="newTaskName" name="newTaskName"> <br />

                        <label for="editTaskType">Task Type:</label><br />
                        <select id="newTaskType" name="newTaskType">
                            <option value="" disabled>please choose type</option>
                            <option value="User Group">User Group</option>
                            <option value="Monthly">Monthly</option>
                        </select><br />

                        <div id="userGroupFields" style="display: none;">
                            <label for="NewDirPath">Dir Path:</label><br />
                            <input type="text" id="NewDirPath" name="NewDirPath"><br />

                            <label for="NewPlaceId">User Group ID:</label><br />
                            <input type="text" id="NewPlaceId" name="NewPlaceId"><br />

                            <label for="NewClearAllUsers">Clear All Users:</label>
                            <input type="checkbox" id="NewClearAllUsers" name="NewClearAllUsers"><br />
                        </div>

                        <div id="monthlyFields" style="display: none;">
                            <label for="NewDirPathMonthly">Dir Path:</label><br />
                            <input type="text" id="NewDirPathMonthly" name="NewDirPathMonthly"><br />

                            <label for="NewPlaceIdMonthly">Place ID:</label><br />
                            <input type="text" id="NewPlaceIdMonthly" name="NewPlaceIdMonthly"><br />

                            <label for="NewClearAllUsersMonthly">Clear All Users:</label>
                            <input type="checkbox" id="NewClearAllUsersMonthly" name="NewClearAllUsersMonthly"><br />

                            <label for="NewClearSpecified">Clear Specified:</label>
                            <input type="checkbox" id="NewClearSpecified" name="NewClearSpecified"><br />

                            <label for="NewIgnoreRowsWithNoPlace">Ignore Rows With No Place:</label>
                            <input type="checkbox" id="NewIgnoreRowsWithNoPlace" name="NewIgnoreRowsWithNoPlace"><br />

                            <label for="NewUpdated">Updated:</label>
                            <input type="text" id="NewUpdated" name="NewUpdated"><br />
                        </div>

                        <label for="editTrigger">Trigger:</label><br />
                        <select id="NewTrigger" name="NewTrigger">
                            <option value="" disabled>please choose type</option>
                            <option value="Minutely">Minutely</option>
                            <option value="Hourly">Hourly</option>
                            <option value="Daily">Daily</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Monthly">Monthly</option>
                            <option value="Yearly">Yearly</option>
                        </select><br />

                        <div id="minutelyTriggerFields" style="display: none;">
                            <label for="minutelyInterval">Interval (in minutes):</label><br />
                            <input type="number" id="minutelyInterval" name="minutelyInterval" min="1" required><br>

                            <label for="minutelyTaskTime">Task Time:</label><br />
                            <input type="datetime-local" id="minutelyTaskTime" name="minutelyTaskTime" required><br>
                        </div>

                        <div id="hourlyTriggerFields" style="display: none;">
                            <label for="hourlyInterval">Interval (in hours):</label><br />
                            <input type="number" id="hourlyInterval" name="hourlyInterval" min="1" required><br>

                            <label for="hourlyTaskTime">Task Time:</label><br />
                            <input type="datetime-local" id="hourlyTaskTime" name="hourlyTaskTime" required><br>
                        </div>

                        <div id="dailyTriggerFields" style="display: none;">
                            <!-- <label for="dailyInterval">Interval (in hours):</label><br />
                            <input type="time" id="dailyInterval" name="dailyInterval" required><br> -->

                            <label for="dailyTaskTime">Task Time:</label><br />
                            <input type="datetime-local" id="dailyTaskTime" name="dailyTaskTime" required><br>
                        </div>

                        <div id="weeklyTriggerFields">
                            <label>Select Day:</label><br>
                            <input type="checkbox" id="sundayCheckbox" name="daysOfWeek[]" value="1">
                            <label for="sundayCheckbox">Sunday</label>
                            <input type="checkbox" id="mondayCheckbox" name="daysOfWeek[]" value="2">
                            <label for="mondayCheckbox">Monday</label>
                            <input type="checkbox" id="tuesdayCheckbox" name="daysOfWeek[]" value="4">
                            <label for="tuesdayCheckbox">Tuesday</label>
                            <input type="checkbox" id="wednesdayCheckbox" name="daysOfWeek[]" value="8">
                            <label for="wednesdayCheckbox">Wednesday</label><br/>
                            <input type="checkbox" id="thursdayCheckbox" name="daysOfWeek[]" value="16">
                            <label for="thursdayCheckbox">Thursday</label>
                            <input type="checkbox" id="fridayCheckbox" name="daysOfWeek[]" value="32">
                            <label for="fridayCheckbox">Friday</label>
                            <input type="checkbox" id="saturdayCheckbox" name="daysOfWeek[]" value="64">
                            <label for="saturdayCheckbox">Saturday</label> <br/>
                        
                            <label for="weeklyTaskTime">Task Time:</label><br />
                            <input type="datetime-local" id="weeklyTaskTime" name="weeklyTaskTime" required><br>
                        </div>

                        <div id="monthlyTriggerFields" style="display: none;">
                            <label>Day of Month:</label> <br/>
                            <input type="checkbox" id="day1" name="monthlyDays[]" value="1">
                            <label for="day1">1</label>
                            <input type="checkbox" id="day2" name="monthlyDays[]" value="2">
                            <label for="day2">2</label>
                            <input type="checkbox" id="day3" name="monthlyDays[]" value="4">
                            <label for="day3">3</label>
                            <input type="checkbox" id="day4" name="monthlyDays[]" value="8">
                            <label for="day4">4</label>
                            <input type="checkbox" id="day5" name="monthlyDays[]" value="16">
                            <label for="day5">5</label>
                            <input type="checkbox" id="day6" name="monthlyDays[]" value="32">
                            <label for="day6">6</label>
                            <input type="checkbox" id="day7" name="monthlyDays[]" value="64">
                            <label for="day7">7</label>
                            <input type="checkbox" id="day8" name="monthlyDays[]" value="128">
                            <label for="day8">8</label>
                            <input type="checkbox" id="day9" name="monthlyDays[]" value="256">
                            <label for="day9">9</label>
                            <input type="checkbox" id="day10" name="monthlyDays[]" value="512">
                            <label for="day10">10</label>
                            <input type="checkbox" id="day11" name="monthlyDays[]" value="1024">
                            <label for="day11">11</label>
                            <input type="checkbox" id="day12" name="monthlyDays[]" value="2048">
                            <label for="day12">12</label>
                            <input type="checkbox" id="day13" name="monthlyDays[]" value="4096">
                            <label for="day13">13</label>
                            <input type="checkbox" id="day14" name="monthlyDays[]" value="8192">
                            <label for="day14">14</label>
                            <input type="checkbox" id="day15" name="monthlyDays[]" value="16384">
                            <label for="day15">15</label>
                            <input type="checkbox" id="day16" name="monthlyDays[]" value="32768">
                            <label for="day16">16</label>
                            <input type="checkbox" id="day17" name="monthlyDays[]" value="65536">
                            <label for="day17">17</label>
                            <input type="checkbox" id="day18" name="monthlyDays[]" value="131072">
                            <label for="day18">18</label>
                            <input type="checkbox" id="day19" name="monthlyDays[]" value="262144">
                            <label for="day19">19</label>
                            <input type="checkbox" id="day20" name="monthlyDays[]" value="524288">
                            <label for="day20">20</label>
                            <input type="checkbox" id="day21" name="monthlyDays[]" value="1048576">
                            <label for="day21">21</label> 
                            <input type="checkbox" id="day22" name="monthlyDays[]" value="2097152">
                            <label for="day22">22</label>
                            <input type="checkbox" id="day23" name="monthlyDays[]" value="4194304">
                            <label for="day23">23</label>
                            <input type="checkbox" id="day24" name="monthlyDays[]" value="8388608">
                            <label for="day24">24</label>
                            <input type="checkbox" id="day25" name="monthlyDays[]" value="16777216">
                            <label for="day25">25</label>
                            <input type="checkbox" id="day26" name="monthlyDays[]" value="33554432">
                            <label for="day26">26</label>
                            <input type="checkbox" id="day27" name="monthlyDays[]" value="67108864">
                            <label for="day27">27</label>
                            <input type="checkbox" id="day28" name="monthlyDays[]" value="134217728">
                            <label for="day28">28</label>
                            <input type="checkbox" id="day29" name="monthlyDays[]" value="268435456">
                            <label for="day29">29</label>
                            <input type="checkbox" id="day30" name="monthlyDays[]" value="536870912">
                            <label for="day30">30</label>
                            <input type="checkbox" id="day31" name="monthlyDays[]" value="1073741824">
                            <label for="day31">31</label>
                            <input type="checkbox" id="day32" name="monthlyDays[]" value="2147483648">
                            <label for="lastDay">Last</label><br/>
                            
                            <label for="monthlyTaskTime">Task Time:</label><br />
                            <input type="datetime-local" id="monthlyTaskTime" name="monthlyTaskTime" required><br>
                        </div>

                        <div id="yearlyTriggerFields" style="display: none;">
                            <label for="yearlyInterval">Interval (in years)</label><br />
                            <input type="number" id="yearlyInterval" name="yearlyInterval" min="1" required><br>

                            <label for="yearlyTaskTime">Task Time:</label><br />
                            <input type="datetime-local" id="yearlyTaskTime" name="yearlyTaskTime" required><br>
                        </div>


                        <label for="editActive">Active:</label>
                        <input type="checkbox" id="NewActive" name="NewActive"> <br />

                        <label for="editEmailList">Email List:</label> <br />
                        <textarea id="NewEmailList" name="NewEmailList"></textarea> <br />

                        <label for="editDescription">Description:</label> <br />
                        <textarea id="NewDescription" name="NewDescription"></textarea> <br />

                    </form>
                </div>
                <div class="modal-buttons">
                    <button type="submit" id="saveButton">Save</button>
                    <button type="button" id="cancelButton">Cancel</button>
                </div>
            </div>

            <!-- Modal for displaying "Last Run" data -->
            <!-- <div id="lastRunModal" class="modal">
            <div class="modal-content">
                <h3>Tel Hashomer - Last Log</h3>
                <span id="lastRunModalCloseButton" class="close">&times;</span>
                <pre id="lastRunModalContent"></pre>
            </div>
        </div> -->

            <script type=module src="/static/main.js" charset="utf-8"></script>

            <script>
                // set the Task id field as readonly
                // const inputElement = document.getElementById('newTaskId');
                // inputElement.readOnly = true;
            </script>

</body>

</html>